.post {
  max-width: 500px;
  background: white;
  border: 1px solid lightgray;
  margin-bottom: 45px;

  &__header {
    display: flex;
    align-items: center;
    padding: 20px;
  }

  &__avatar {
    margin-right: 10px;
  }

  &__image {
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
  }

  strong {
    margin-right: 10px;
  }

  &__text {
    font-weight: normal;
    padding: 20px;
  }

  &__comments {
    padding: 20px;

    b {
      margin-right: 10px;
    }
  }

  &__commentBox {
    display: flex;
    margin-top: 10px;

    .post__input {
      flex: 1;
      border: none;
      padding: 10px;
      border-top: 1px solid lightgray;
    }

    .post__button {
      border: none;
      border-top: 1px solid lightgray;
      color: #6082a3;
    }
  }
}