.profile {
  &__container {
    margin-left: 20px;
    margin-top: 10px;

    .new_post {
      height: max-content;
      padding: 10px;
      top: 90px;
      position: sticky;
      border: 1px solid #ddd;
      border-radius: 4px;
      width: 300px;
      min-height: 150px;

      h1 {
        text-align: center;
      }
    }

    textarea {
      width: 100%;
      height: 50px;
      max-width: 100%;
      max-height: 300px;
    }
  }


  &__progress {
    width: 100%;
  }

  @media screen and (max-width: 500px) {
    &__container {
      .new_post {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        top: unset;
        background: #fff;
        width: 100%;
        margin-left: 0;
      }
    }
  }
}